.main-menu{
    position: relative;
    ul{
        line-height:$global-line-height; 
        li{
            display:inline;
            a{
                color:$color-gray;
                text-decoration:none;
                font-size: 18px;
                padding: 0 25px 0 0;
                &:hover{
                    color:$color-black;
                }
            }
        }
        li.active{
            a{
                color:$color-blue;                
            }
        }

    }
}

#picto-img{
    height: 29px;
    width: 30px;
    cursor: pointer;
    top: -5px;
    right: 17px;
    position: absolute;
    @media (max-width: 1199px){
        right: -5px;
    }
}

.svghover{
    &:hover{
        fill: $color-blue;
    }
}

.container-menu{
    position: relative;

    @media (max-width: 1260px){
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        backface-visibility: hidden;
        width: 100%;
        margin: 0;
        background-color: lime;
    }

    &.isFixed {      
        @media (min-width: 1261px){
            position: fixed;
            top: 0;
            z-index: 999;
            backface-visibility: hidden;
            width: 1230px;
            margin: 0 auto;
        }
    }

}

.menu-float{
    position: absolute;
    z-index: 999;
    width: 200px;
    padding: 20px 25px;
    background-color: $color-white;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    transition: right 0.5s ease-in-out;
    position: absolute;
    right: 0;
    top: 80px;
    .isFixed & {
        top: 50px;
    }
    @media (max-width: 1260px){
        top: 210px;
        left: 997px;
        width: 180px;
    }
    @media (max-width: 1199px){
        right: -160px;
        left: auto;
        &:hover{
            right: 0px;
        }
    }

    nav.nav-float{
        ul{
            li{
                display: block;
                margin: 10px 0;
                &:first-child{
                    margin-top:0px;
                }
                &:last-child{
                    margin-bottom:0px;
                }
                > a {
                    color:$color-gray;
                    &:hover{
                        color:$color-black;
                    }
                }
                ul.submenu{
                    display: none;
                    margin:15px 0px 15px 20px;
                    li{
                        font-size: $min-font-size;
                        a{
                            color:$color-gray;
                            &:hover{
                                color:$color-black;
                            }
                            &.active{
                                color:$color-blue;
                            }

                        }
                    }
                }
            }
            li {
                > a.active{
                    color:$color-blue;
                    + ul.submenu{
                        display:block;
                    }
                }
            }
        }
    }
}

.menu-dark{
    background-color: $color-black;
    display: none;
    padding:20px 0;
    ul{
        li{
            display:inline-block;
            margin-left: 25px;
            a{
                color:$color-gray;
                &:hover{
                    color:$color-white;
                }
            }
        }
        li.active{
             a{
                color:$color-white;
                &:hover{
                    color:$color-white;
                }
            }
        }

    }
}

.rotated-left {
    transform: rotate(180deg); 
    transition-duration: 0.5s;
}

.rotated-right {
    transform: rotate(-180deg); 
    transition-duration: 0.5s;
}