// ==========================================================================
// Variables
// ==========================================================================

// Global
$desktop-container:				960;
$p-font-size: 					16;
$global-background-color:		#FFF;
$global-font-family:			sans-serif;
$global-font-size:				16;
$global-line-height:			8;
$global-font-weight:			400;

// Colors
$color-blue: 	#2088c2;
$color-gray: 	#9f9f9f;
$color-white: 	#FFF;
$color-black: 	#000;

// Code
$code-font-family:		'courier new', monospace, serif;
$code-font-size:		16;
$code-line-height:		18;
$code-color:			#272727;
$code-background-color:	#f2f2f2;
$code-border-color:		#e2e5e6;

// Font Weights
$font-light:		300;
$font-regular:		400;
$font-bold:			700;

// Headings
$h1-font-size:		36;
$h2-font-size:		24;
$h3-font-size:		16;